<!-- BEGIN CONTENT BODY -->
<div class="page-content">

<h3 class="page-title"><i class="fa fa-institution" style="padding-right: 10px"></i> Messages Management
{{!-- <small>Manage Students</small> --}}
</h3>
{{!-- {{partial 'page-group-actions'}} --}}
<!-- END PAGE TITLE-->




<!-- END PAGE HEADER-->
<div class="row">
<div class="col-md-12">
{{outlet}}               
</div>
</div>
</div>
<!-- END CONTENT BODY -->